
@font-face {
  font-family: 'Redaction';
  src: url('/fonts/Redaction-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url('/fonts/Redaction-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url('/fonts/Redaction-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction35';
  src: url('/fonts/Redaction35-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction35';
  src: url('/fonts/Redaction35-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction35';
  src: url('/fonts/Redaction35-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction10';
  src: url('/fonts/Redaction10-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction10';
  src: url('/fonts/Redaction10-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction10';
  src: url('/fonts/Redaction10-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction20';
  src: url('/fonts/Redaction20-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction20';
  src: url('/fonts/Redaction20-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction20';
  src: url('/fonts/Redaction20-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction50';
  src: url('/fonts/Redaction50-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction50';
  src: url('/fonts/Redaction50-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction50';
  src: url('/fonts/Redaction50-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction70';
  src: url('/fonts/Redaction70-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction70';
  src: url('/fonts/Redaction70-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction70';
  src: url('/fonts/Redaction70-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Redaction100';
  src: url('/fonts/Redaction100-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction100';
  src: url('/fonts/Redaction100-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction100';
  src: url('/fonts/Redaction100-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  
  background-image: url('/Gradient.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  background-color: #f5ede8;
}

body {
  cursor: url('/Cross.cur'), auto;
}

:root {
  font-family: 'Redaction', Georgia, serif;
  line-height: 1.5;
  font-weight: 400;
  color: #3D2828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Redaction35', Georgia, serif;
}

@keyframes letterWave {

  0%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-3px);
  }
}