.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-boxes{
    width:45%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.card-boxes-des{
    width:100%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.cover {
    height: 180px;
    border: 3px solid #715555;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-out;
    margin-bottom: 5px;
}

.cover:hover{
    opacity: 0.8;
}

.subtitle{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.sub-container {
    display: flex;
    align-items: center;
}

.subtitle:hover{
    text-decoration:underline;
}

#card a{
    margin: 0; 
    text-decoration: none; 
  }
  
.desc {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom:10px;
}
  