@font-face {
  font-family: Augillion;
  src: url('fonts/Augillion.otf') format('opentype');
  font-weight: normal;
  font-style: normal;}


:root {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  line-height: 1.5;
  font-weight: 400;

  --background-primary-light: #F2ECE6;
  --background-secondary-light: #fbf9f7;
  --background-tertiary-light: #F2ECE6;
  --color-primary-light: #4B2F2F;
  --color-secondary-light: #715555;
  --color-tertiary-light: #aa8866;
  --main-color-light: #453a2f; 
  --carousel-primary-light: #592400;
  --carousel-secondary-light: #6a2a00;
  --carousel-tertiary-light: #7a3100;
  --carousel-quaternary-light: #8a3700;
  
  --background-primary-dark: #362d25;
  --background-secondary-dark: #453a2f;
  --background-tertiary-dark: #362d25;
  --color-primary-dark: #CB9191; 
  --color-secondary-dark: #CEADAD; 
  --color-tertiary-dark: #aa8866;
  --main-color-dark: #D8D8D8; 
  --carousel-primary-dark: #fee9da;
  --carousel-secondary-dark: #fedfc9;
  --carousel-tertiary-dark: #fed5b9;
  --carousel-quaternary-dark: #ffcba9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --transition-duration: 0.3s; 
}


.sun{
  --background-secondary: var(--background-secondary-light);
  --background-primary: var(--background-primary-light);
  --background-tertiary: var(--background-tertiary-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-tertiary: var(--color-tertiary-light);
  --main-color: var(--main-color-light);
  --carousel-primary: var(--carousel-primary-light);
  --carousel-secondary: var(--carousel-secondary-light);
  --carousel-tertiary: var(--carousel-tertiary-light);
  --carousel-quaternary: var(--carousel-quaternary-light);
  transition: background-color var(--transition-duration),color var(--transition-duration);
}

.moon{
  --background-primary: var(--background-primary-dark);
  --background-secondary: var(--background-secondary-dark);
  --background-tertiary: var(--background-tertiary-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-tertiary: var(--color-tertiary-dark);
  --main-color: var(--main-color-dark);
  --carousel-primary: var(--carousel-primary-dark);
  --carousel-secondary: var(--carousel-secondary-dark);
  --carousel-tertiary: var(--carousel-tertiary-dark);
  --carousel-quaternary: var(--carousel-quaternary-dark);
  transition: background-color var(--transition-duration),color var(--transition-duration);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

html{
  background-color: var(--background-primary);
}

ul{
  color: var(--main-color);
}

body {
  background-color: var(--background-primary);
  margin: 0;
  min-height: 0vh;
  min-width:0vw;
  transition: background-color var(--transition-duration);
}

p{
  color: var(--main-color);
  cursor:default;
  margin-top:2px;
}

.title{
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
}

img{
  cursor: pointer;
}

hr.dash{
  border-top: 2px dashed;
  max-width: 90%;
  margin-left: 0;
  border-color: var(--color-secondary);
  border-bottom: 0px;
}

.abt-img{
  width:90%;
  height:270px;
  object-fit: cover;
  transition: opacity 0.5s ease-out;
}

.abt-img:hover{
  opacity: 0.8;
}
.proj-img-container {
  position: relative;
  width: 95%;
  height: 350px;
  overflow: hidden;
  border: 3px solid var(--color-primary);
}

.proj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-out;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.9); 
  color: var(--background-primary-dark);
  font-size: 18px; 
  font-weight: bold;
  text-align: center;
}

.proj-img-container:hover .hover-text {
  opacity: 0.85;
}


#border{
  display: flex;
  min-height: calc(40vh/3);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#inner{
  display: flex;
  min-width: calc(80vw/3);
  position: relative;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

#nav-bar{
  display:flex;
  max-width: max-content;
  line-height: 35px;
  flex-direction:row;
  position: relative;
  z-index: 1;
  flex-grow: 4;
  align-items: center;
  display:flex;
}

#logo{
  margin-right: 20px;
  display:fixed;
  cursor: pointer
}

#logo img{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

#logo img:hover{
  opacity: 0.75;
}

#nav-bar a{
  align-items: center;
  justify-content: center;
  left: 100px;
  margin:30px;
  font-weight:600;
  color: var(--color-secondary);

}

#nav-bar a:hover{
  color: var(--color-tertiary);
}


#content{
  flex-direction: column;
  justify-content:flex-start;
  top:45px;
  width:500px;
  text-align: left;
  margin-left: 85px;
  overflow-y: auto !important;
}


#content h1{
  font-family: 'Augillion';
  font-size: 2.5em;
  line-height: 0.9;
  color: var(--color-primary);
  cursor:default;
}

#content h2{
  font-family: 'Augillion';
  font-size: 1.8em;
  line-height: 0.9;
  color: var(--color-primary);
}

#content a, #content a:active{
  color: var(--color-secondary);
  margin-right: 0px;
}

#content a:hover{
  color: var(--color-tertiary);
}

#footer a, #footer a:active{
  color: var(--color-secondary);
  margin-right: 8px;
}

#footer a:hover{
  color: var(--color-tertiary);
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(246deg, var(--background-primary),var(--background-tertiary));
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden; 
    scrollbar-width: thin; 
  }

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

  
  #border {
    min-height: calc(50vh /3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #nav-bar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%; 
  }

  #nav-bar a {
    margin: 5px;
    left: 0;
  }

  #logo {
    margin-right: 0;
  }

  #content {
    width: 75%;
    text-align: left; 
    margin-left: 0;
  }

  .abt-img {
    width: 95%;
  }
}

.sub-container:hover{
  text-decoration: underline;
}
.diag-arrow {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease, fill 0.3s ease;
  fill: var(--main-color);
}

.diag-arrow:hover {
  transform: scale(1.1);
  fill: var(--main-color); 
}

.return-container{
  color: var(--color-secondary);
  font-size: bold;
}

.return-container:hover{
  text-decoration:underline;
}

.subtitle-return{
  color: var(--color-secondary);
}

.subtitle-return:hover {
  text-decoration: underline;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.oval-tag {
  display: inline-flex; /* Make the tag container inline-flex */
  background-color: var(--background-secondary);
  border: 2.2px solid var(--main-color); /* Add border styling */
  border-radius: 15px;
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}

.oval-tag-text {
  margin: 0;
  font-size:12px;
  color: var(--main-color);
  cursor: pointer;
}

.oval-tag:hover{
  transform: scale(1.01);
  opacity: 0.8;

}


.link-tag {
  display: inline-flex; /* Make the tag container inline-flex */
  background-color: var(--background-secondary);
  border: 2.2px solid var(--main-color); /* Add border styling */
  border-radius: 15px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}

.link-tag-text {
  margin: 0;
  font-size:14px;
  color: var(--main-color);
}

.link-tag:hover{
  transform: scale(1.01);
  opacity: 0.6;

}

h3{
  margin-bottom:0;
  color:var(--color-secondary);
}

.spesh{
  color:var(--main-color);
}

/*carousel*/

.carousel-images {
  background-color: #fff;
  position: relative;
  height: 280px;
  width:99%;
  margin: auto;
  overflow: hidden;
  border: 3px solid var(--color-primary);

}
.carousel-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fbf9f7;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
  opacity: 30%;
  transition: opacity 0.5s ease-out;
}
.left {
  left: 0;
}

.left-logo{
  margin-left: 4px;
  opacity:100%;
}
.right-logo{
  margin-right:3px;
}
.right {
  right: 0;
}

.left:hover,
.right:hover,
.left.hovered,
.right.hovered {
  opacity: 0.5;
}

.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: 0 5px;
  cursor: pointer;
  transform: transform 0.5s ease-out;
}
.dot.active{
  background-color: var(--color-secondary);
}

.dot:hover{
  transform: scale(1.2);
  opacity:60%;
}

.top-h1{
  color: var(--color-secondary) !important;
}
.links a::after {
  content: attr(title);
  position: absolute;
  transform: translate(-10px, -20px);
  background: var(--main-color);
  color: var(--background-primary);
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Augillion';
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.links a:hover::after {
  opacity: 0.85;
  transform: translate(-10px, -20px);
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: var(--background-primary);

  height: 50px;
  width: 50px;
  color: var(--main-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.internship-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 10px;
}

/* Card styling */
.internship-card {
  width: 180px;
  height: 30px;
  border-radius: 10px; /* Rounded edges */
  background-color: var(--background-primary);
  border: 2px solid var(--main-color); /* Border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: transform 0.2s; /* Add hover effect */
}

.internship-card:hover {
  transform: scale(1.05); /* Slight scale on hover */
}

/* Text inside the card */
.internship-text {
  text-align: center;
}

.internship-role {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.internship-company {
  font-size: 14px;
  margin: 5px 0 0;
}